.myHeader{
    display:block;
    bottom: 0;
    position:fixed;
    height:315px;
    z-index: 200;
    /*overflow:hidden;*/
}
.coverBorder{
    background: url(http://i.imgur.com/UGqidBk.png) bottom left repeat-x;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}